body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* styling index.html*/
a {
  color: #00B7FF;
}

.child-headline{
  font-size: 30px;
  font-weight: bold;
}

.both-tables{
  width : 100%;
}

.table-elements{
  border : 3px solid black;
  width : 50%;
}

.table-row:nth-child(2){
  background-color: lightgreen;
}

.table-headline{
  background-color: lightgreen;
}

.wish-table-row:nth-child(2){
  background-color: lightgreen;
}

.wish-table-elements{
  border : 3px solid black;
  width : 33%;
}

.wish-img{
  width : 50%;
  height : 60%;
}

/*styling management.html*/

input{
  width : 50%;
  height : 40px;
  margin : 10px;
}

label{
  font-size: 20px;
  font-weight: bold;
}

.management-button{
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  width : 30%;
  height : 40px;
  font-size: 20px;
  color: white;
  border: 1px solid transparent;
}
