body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.child-headline{
  font-size: 30px;
  font-weight: bold;
}

.both-tables{
  width : 100%;
}

.table-elements{
  border : 1px solid green;
  width : 50%;
}

.table-row{

}